<footer class="footer">
  <div class="container">
    <div class="footer-left">
      <a class="footer-logo" href="">
        <img
          class="logo-img-mobile"
          src="./img/header/logo.svg"
          alt="logo"
          width="168"
        />
        <img
          class="logo-img-footer-desk"
          src="./img/footer/logo-footer.svg"
          alt="logo"
          width="168"
        />
      </a>
      <div class="footer-logo-text">
        <p>
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
    </div>
    <div class="footer-right">
      <ul class="footer-nav-menu-list">
        <li class="footer-nav-menu-item">
          <a href="#how-it-works">how it works</a>
        </li>
        <li class="footer-nav-menu-item">
          <a href="#vegetables">vegetables</a>
        </li>
        <li class="footer-nav-menu-item"><a href="#reviews">reviews</a></li>
      </ul>
      <address class="footer-address">
        <ul class="footer-address-list">
          <li class="footer-phone">
            <a href="+380684439426">+380 (68) 443-94-26</a>
          </li>
          <li class="footer-address-link">
            <a href="https://maps.app.goo.gl/oiT53xptiHZVXPmz6"
              >1678 S. Pioneer Road Salt<br />
              Lake City UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="privacy-policy">
      <div>
        <a class="privacy-policy-item" href="#">Privacy Policy</a>
        <span class="slash">/</span>
        <a class="privacy-policy-cookie" href="#">Cookie settings</a>
      </div>
      <span class="privacy-author">©Green Harvest 2023</span>
    </div>
  </div>
</footer>
