<div class="container header-container">
    <div class="header-logo-container">
        <a class="header-logo" href="">
            <img class="logo-img" src="../img/header/logo.svg" alt="logo"/>
        </a>
    </div>
    <button class="open-menu-mob" type="button">
        <svg class="open-menu-btn" width="32" height="32">
            <use href="../img/icons.svg#icon-mobmenu-icon-small"></use>
        </svg>
    <button class="open-menu-tab" type="button">
        <svg class="open-menu-btn" width="40" height="40">
            <use href="../img/icons.svg#icon-mobmenu-icon-big"></use>
        </svg>
    </button>
        <div class="header-nav-btn">
            <nav class="header-nav">
                <ul class="header-list">
                    <li class="header-item"><a href="#how-it-works" class="header-nav-item">How It Works</a></li>
                    <li class="header-item"><a href="#vegetables" class="header-nav-item">Vegetables</a></li>
                    <li class="header-item"><a href="#reviews" class="header-nav-item">Reviews</a></li>
                </ul>
            </nav>
            <button class="header-btn" type="button">Shop now</button>
        </div>
        
</div>
