<div class="container header-container">
    <div class="header-logo-container">
        <a class="header-logo" href="">
            <svg class="header-logo-icon" width="16" height="16">
                <use href="../img/icons.svg#icon-logo-icon-small"></use>
            </svg>
        </a>
        <a class="header-logo" href="">
            <svg class="header-logo-icon" width="148" height="12">
                <use href="../img/icons.svg#icon-logo-text-small"></use>
            </svg>
        </a>
    </div>
    <button class="open-menu" type="button">
        <svg class="open-menu-btn" width="32" height="32">
            <use href="../img/icons.svg#icon-mobmenu-icon-small"></use>
        </svg>
    </button>
        <div class="header-nav-btn">
            <nav class="header-nav">
                <ul class="header-list">
                    <li class="header-item"><a href="" class="header-nav-item">How It Works</a></li>
                    <li class="header-item"><a href="" class="header-nav-item">Vegetables</a></li>
                    <li class="header-item"><a href="" class="header-nav-item">Reviews</a></li>
                </ul>
            </nav>
            <button class="header-btn" type="button">Shop now</button>
        </div>
        
</div>
