<section class="section section-how-it-works">
  <div class="container">
    <!-- Will be hidden via CSS -->
    <h2 class="header-how-it-works visually-hidden">
      How to buy your vegetables busket
    </h2>
    <div class="customer-photo">
      <img
        src="../img/how-it-works-section/How-it-works-mobile1x.jpg"
        alt="Happy customer cooks healthy food"
      />
    </div>
    <div class="how-it-works-steps">
      <h3 class="steps-header">
        To order your <span class="steps-header-shadow">vegetable</span> basket,
        simply follow these <span class="steps-header-shadow">easy steps</span>
      </h3>
      <p class="steps-descr">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <div class="steps-to-order">
        <ol class="steps-list">
          <li class="step-list-item">
            <div class="outer-circle">
              <div class="inner-circle">
                <p class="counter-value"></p>
              </div>
            </div>
            <p class="step-list-item-descr">
              Just choose <span class="descr-bold">the vegetable</span> you want
              to order by clicking on the checkboxes
              <span class="descr-bold">next to it</span>.
            </p>
          </li>
          <li class="step-list-item">
            <div class="outer-circle">
              <div class="inner-circle">
                <p class="counter-value"></p>
              </div>
            </div>
            <p class="step-list-item-descr">
              Click on <span class="descr-bold">the basket</span> and fill out
              the form.
            </p>
          </li>
          <li class="step-list-item">
            <div class="outer-circle">
              <div class="inner-circle">
                <p class="counter-value"></p>
              </div>
            </div>
            <p class="step-list-item-descr">
              Sit back and relax! Your
              <span class="descr-bold">fresh vegetables</span> basket will be
              delivered.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
