<div class="mobile-menu-wrap" data-menu>
  <div class="backdrop"></div>
  <div class="mobile-menu">
    <button type="button" class="mobile-close-btn" data-menu-close>
      <svg class="mobile-close-icon" width="32" height="32">
        <use href="./img/icons (2).svg#icon-mobmenu-close-small"></use>
      </svg>
    </button>
    <button type="button" class="tablet-close-btn" data-menu-close>
      <svg class="mobile-close-icon" width="40" height="40">
        <use href="./img/icons (2).svg#icon-mobmenu-close-big"></use>
      </svg>
    </button>
    <ul class="mobile-menu-nav">
      <li class="mobile-nav-item">
        <a href="#how-it-works" class="mobile-nav-link" data-menu-close>How It Works</a>
      </li>
      <li class="mobile-nav-item">
        <a href="#vegetables" class="mobile-nav-link" data-menu-close>Vegetables</a>
      </li>
      <li class="mobile-nav-item">
        <a href="#reviews" class="mobile-nav-link" data-menu-close>Reviews</a>
      </li>
    </ul>
    <a href="#yourorder" class="mobile-shop-btn" data-menu-close>Shop Now</a>
  </div>
</div>
