<div class="mobile-menu-wrap">
  <div class="backdrop"></div>
  <div class="mobile-menu">
    <button type="button" class="mobile-close-btn">
      <svg class="mobile-close-icon" width="32" height="32">
        <use href="../img/icons.svg#icon-mobmenu-close-small"></use>
      </svg>
    </button>
    <ul class="mobile-menu-nav">
      <li class="mobile-nav-item">
        <a href="#how-it-works" class="mobile-nav-link current">How It Works</a>
      </li>
      <li class="mobile-nav-item">
        <a href="#vegetables" class="mobile-nav-link">Vegetables</a>
      </li>
      <li class="mobile-nav-item">
        <a href="#reviews" class="mobile-nav-link">Reviews</a>
      </li>
    </ul>
    <button type="button" class="mobile-shop-btn">Shop Now</button>
  </div>
</div>
