<section class="section reviews-section" id="reviews">
  <div class="container reviews-container">
    <div class="header-text-container">
      <h2 class="reviews-header">
        reviews from our <span class="reviews-span">customers</span>
      </h2>
      <p class="reviews-text">
        Words of our customers: impressions and opinions about the quality of
        our services and the freshness of our products.
      </p>
    </div>
    <div class="reviews-list-container">
      <ul class="reviews-list">
        <li class="review-item">
          <picture class="customer-pic">
            <source
              srcset="./img/john-icon.png 1x, ./img/john-icon-x2.png 2x"
            />
            <img
              src="./img/john-icon.png"
              alt="john-icon"
              width="56"
              height="56"
            />
          </picture>
          <h2 class="review-customer-name">John Wax</h2>
          <p class="review-customer-text">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </li>
        <li class="review-item">
          <picture class="customer-pic">
            <source
              srcset="./img/victoria-icon.png 1x, ./img/victoria-icon-x2.png 2x"
            />
            <img
              src="./img/victoria-icon.png"
              alt="victoria-icon"
              width="56"
              height="56"
            />
          </picture>
          <h2 class="review-customer-name">Victoria Romashenko</h2>
          <p class="review-customer-text">
            I love how fast and fresh the vegetables are delivered. Salads
            always turn out so appetizing, and soups are real masterpieces. The
            quality is impeccable!
          </p>
        </li>
        <li class="review-item">
          <picture class="customer-pic">
            <source
              srcset="./img/ihor-icon.png 1x, ./img/ihor-icon-x2.png 2x"
            />
            <img
              src="./img/ihor-icon.png"
              alt="ihor-icon"
              width="56"
              height="56"
            />
          </picture>
          <h2 class="review-customer-name">Ihor Trachuk</h2>
          <p class="review-customer-text">
            Recently tried my fresh tomatoes and peppers - amazing! The
            authenticity of the taste, as if from the garden directly to my
            table. It is now my main vegetable supplier.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
