<section class="section vegetables-section" id="vegetables">
  <div class="container vegetables-container">
    <div class="title-container">
      <h2 class="vegetables-section-title">
        Organic <span class="current">vegetables</span>
      </h2>
      <p class="vegetables-section-description">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible
      </p>
    </div>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-item-title">egplant</h3>
        <p class="vegetables-price">60 uah / kg</p>
        <picture class="img-shadow">
          <source
            type="image/webp"
            srcset="
              ./img/vegetables-img/vegetables-1.webp    1x,
              ./img/vegetables-img/vegetables-1@2x.webp 2x
            "
          />
          <source
            srcset="
              ./img/vegetables-img/vegetables-1.png    1x,
              ./img/vegetables-img/vegetables-1@2x.png 2x
            "
          />
          <img src="./img/vegetables-img/vegetables-1.png" alt="eggplant" />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-title">leek</h3>
        <p class="vegetables-price">60 uah / kg</p>
        <picture class="img-shadow">
          <source
            type="image/webp"
            srcset="
              ./img/vegetables-img/vegetables-2.webp    1x,
              ./img/vegetables-img/vegetables-2@2x.webp 2x
            "
          />
          <source
            srcset="
              ./img/vegetables-img/vegetables-2.png    1x,
              ./img/vegetables-img/vegetables-2@2x.png 2x
            "
          />
          <img src="./img/vegetables-img/vegetables-2.png" alt="leek" />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-title">mushrooms</h3>
        <p class="vegetables-price">40 uah / kg</p>
        <picture class="img-shadow">
          <source
            type="image/webp"
            srcset="
              ./img/vegetables-img/vegetables-3.webp    1x,
              ./img/vegetables-img/vegetables-3@2x.webp 2x
            "
          />
          <source
            srcset="
              ./img/vegetables-img/vegetables-3.png    1x,
              ./img/vegetables-img/vegetables-3@2x.png 2x
            "
          />
          <img src="./img/vegetables-img/vegetables-3.png" alt="mushrooms" />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-title">corn</h3>
        <p class="vegetables-price">60 uah / kg</p>
        <picture class="img-shadow">
          <source
            type="image/webp"
            srcset="
              ./img/vegetables-img/vegetables-4.webp    1x,
              ./img/vegetables-img/vegetables-4@2x.webp 2x
            "
          />
          <source
            srcset="
              ./img/vegetables-img/vegetables-4.png    1x,
              ./img/vegetables-img/vegetables-4@2x.png 2x
            "
          />
          <img src="./img/vegetables-img/vegetables-4.png" alt="corn" />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-title">sweet potatoes</h3>
        <p class="vegetables-price">50 uah / kg</p>
        <picture class="img-shadow">
          <source
            type="image/webp"
            srcset="
              ./img/vegetables-img/vegetables-5.webp    1x,
              ./img/vegetables-img/vegetables-5@2x.webp 2x
            "
          />
          <source
            srcset="
              ./img/vegetables-img/vegetables-5.png    1x,
              ./img/vegetables-img/vegetables-5@2x.png 2x
            "
          />
          <img
            src="./img/vegetables-img/vegetables-5.png"
            alt="sweet potatoes"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-item-title">carrot</h3>
        <p class="vegetables-price">40 uah / kg</p>
        <picture class="img-shadow">
          <source
            type="image/webp"
            srcset="
              ./img/vegetables-img/vegetables-6.webp    1x,
              ./img/vegetables-img/vegetables-6@2x.webp 2x
            "
          />
          <source
            srcset="
              ./img/vegetables-img/vegetables-6.png    1x,
              ./img/vegetables-img/vegetables-6@2x.png 2x
            "
          />
          <img src="./img/vegetables-img/vegetables-6.png" alt="carrot" />
        </picture>
      </li>
    </ul>
  </div>
</section>
