
.footer {
    background-color: #7A3145;
    color: #fff;
}

ul {
    list-style-type: none;
}

a {
    font-family: "Inter Tight", sans-serif;
    text-decoration: none;
    color: #fff;
    
}

.logo-img-footer-desk {
  display: none;
}

.footer-logo-text {
    font-weight: 500;
    line-height: 125%;
    font-size: 16px;
    margin-top: 0;
}

.footer-nav-menu-list {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.01em;
}

.footer-nav-menu-item:hover {
    text-shadow: 0 0 1em black;
    transition: 0.3s;
}

.footer-address {
    margin-bottom: 80px;
}

.footer-phone,
.footer-address-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
}

.footer-phone:hover,
.footer-address-link:hover {
    text-shadow: 0 0 1em black;
    transition: 0.3s;

}

.privacy-policy,
.privacy-policy-item,
.privacy-policy-cookie {
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
}

.privacy-policy-item:hover,
.privacy-policy-cookie:hover {
    color: #fff;
    transition: 0.3s;
}

.slash {
    margin-left: 8px;
    margin-right: 8px;
}


/* /\/\/\ MOBILE /\/\/\ */

@media screen and (min-width: 320px) and (max-width: 767px) {

    .footer {
        padding: 40px 0px;
    }

    .footer-logo {
        display: inline-block;
        margin-bottom: 14px;
    }

    .footer-logo-text {
        width: 296px;
        margin-bottom: 40px;
        font-size: 14px;
    }

    .footer-nav-menu-list {
        padding-left: 0px;
        margin-bottom: 40px;
    }

    .footer-nav-menu-item {
        margin-bottom: 14px;
    }

    .footer-nav-menu-item a {
        font-weight: 600;
        font-size: 28px;
        line-height: 100%;
        letter-spacing: -0.01em;
    }

     .footer-address {
        margin-bottom: 80px;
     }
        
    .footer-address-list {
        padding-left: 0;
    }

    .footer-address-list a {
        font-weight: 600;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.01em;
        }

    .footer-phone {
        margin-top: 40px;
        margin-bottom: 14px;
    }

    .privacy-policy,
    .privacy-policy-item,
    .privacy-policy-cookie {
        font-size: 12px;
        line-height: 133%;
        text-align: left;
        letter-spacing: -0.18px;
    }

    .privacy-author {
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: -0.18px;
    }

    .privacy-policy {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .privacy-policy-cookie {
        display: inline-flex;
        gap: 8px;
        margin-right: 49px;
    }
}

/* /\/\/\ TABLET /\/\/\ */

@media screen and (min-width: 768px) {
    .footer {
        padding: 32px 0; 
    }

    .footer .container {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-right {
        margin-left: 224px;
    }

    .logo-img-mobile {
        margin-bottom: 25px;
    }

    .footer-logo-text {
        width: 265px;
    }

    .footer-nav-menu-list {
        gap: 25px;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 64px;
        width: 215px;
        letter-spacing: -0.56px;
    }

    .footer-address-list {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .privacy-policy {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

/* /\/\/\ DESKTOP /\/\/\ */
@media screen and (min-width: 1280px) {
    .footer {
        padding: 50px 0px;
    }

    .logo-img-mobile {
      display: none;
    }

    .logo-img-footer-desk {
      display: block;
      margin-bottom: 25px;
    }

    .footer-logo-text {
        width: 265px;
    
    }

    .footer-right {
        display: flex;
        margin-left: 302px;
        
    }

    .footer-nav-menu-list {
        gap: 25px;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        width: 177px;
        letter-spacing: -0.48px;
    }
    .footer-address {
        margin-left: 121px;
    }
    
    .footer-address-list {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 215px;
        padding-left: 0;
        margin-top: 0;
    }
    .privacy-policy {
        margin-top: 125px;
    }
}